
/*The only textareas used are inside <td> elements, so I want them to integrate properly */
textarea {
	width: 90%;
	resize: none;
}

body {
	background-color: hsl(100, 10%, 5%);
	color: hsl(100, 10%, 60%);
}

/*Normally, the side of <td> tags varies depending on the contents. I don't want this. The default behavior of table.width is to take up only the amount of space the table needs, but I want the table to fill the page horizonatally*/ table {
	width: 100%;
	table-layout: fixed;
}

section { 
	background-color: hsl(100, 10%, 60%);
	color: hsl(100, 10%, 5%);
	border: 9px outset hsl(100, 10%, 60%);
	margin: 2%;
}

header, h1 {
	text-align: center;
	margin: 2%;
}

footer {
	text-align: center;
	margin: 2%;
}

td, button {
	background-color: hsl(100, 10%, 5%);
	color: hsl(100, 10%, 60%);
	border: 3px inset hsl(100, 10%, 5%);
}

td button, td textarea {
	background-color: inherit;
	color: inherit;
	border: 0px;
}

a {
	color: inherit
}
